name: Automatisation des tests DevSecOps

on: push

jobs:

  Dependances:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout du repository
        uses: actions/checkout@v3

      - name: Vérifier que requirements.txt existe
        run: |
          if [ ! -f ".github/workflows/requirements.txt" ]; then
            echo "❌ ERREUR : requirements.txt est manquant !"
            exit 1
          fi
          echo "✔ requirements.txt trouvé."

      - name: Vérifier que requirements.txt n'est pas vide
        run: |
          if [ ! -s "requirements.txt" ]; then
            echo "❌ ERREUR : requirements.txt est vide !"
            exit 1
          fi
          echo "✔ requirements.txt contient des dépendances."

      - name: Installer les dépendances pour vérification
        run: |
          pip install -r requirements.txt
          echo "✔ Dépendances installées sans erreurs."

  Dockerfile:
    runs-on: ubuntu-latest
    needs: Dependances
    steps:
      - name: Checkout du repository
        uses: actions/checkout@v3

      - name: Vérifier que le Dockerfile existe
        run: |
          if [ ! -f ".github/workflows/Dockerfile" ]; then
            echo "❌ ERREUR : Dockerfile manquant !"
            exit 1
          fi
          echo "✔ Dockerfile trouvé."

      - name: Tester la build Docker
        run: |
          docker build -t monapp:test .github/workflows/D
          echo "✔ Dockerfile build OK."

      - name: Analyse Dockerfile avec Hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile

  Deploy:
    runs-on: ubuntu-latest
    needs: Dockerfile
    steps:
      - name: Deploy
        run: |
          echo "✔ Toutes les étapes sont validées. L'application est prête à être déployée."
